.container {
	height: 90vh;
	width: 100vw;
}
.container,
.outerCircle,
.innerCircle,
.arrowGroup {
	display: flex;
	justify-content: center;
	align-items: center;
}
.outerCircle {
	background-color: #e93737;
	border-radius: 50%;
	animation-name: growOuter;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.innerCircle {
	width: 0px;
	height: 0px;
	background-color: #fc7272;
	border-radius: 50%;
	animation-name: growInner;
	animation-duration: 0.75s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
.content {
	opacity: 0;
	font-size: 4em;
	animation-name: showContent;
	animation-duration: 2s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.arrowGroup {
	display: none;
}
.arrow {
	cursor: pointer;
	border: solid #e93737;
	border-width: 0 20px 20px 0;
	display: inline-block;
	padding: 40px;
}
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

@keyframes growOuter {
	from {
		width: 0px;
		height: 0px;
	}
	to {
		width: var(--outerSize);
		height: var(--outerSize);
	}
}

@keyframes growInner {
	from {
		width: 0px;
		height: 0px;
	}
	to {
		width: var(--innerSize);
		height: var(--innerSize);
	}
}

@keyframes showContent {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Media Queries */
/* Phone */
@media screen and (max-width: 598px) {
	.container {
		--outerSize: 400px;
		--innerSize: 350px;
		height: 70vh;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.singleArrow {
		display: none;
	}
	.arrowGroup {
		display: block;
	}
}
/* Tablet */
@media screen and (max-width: 992px) and (min-width: 598px) {
	.container {
		--outerSize: 450px;
		--innerSize: 400px;
		height: 80vh;
	}
}
