.nav {
	background-color: #e93737;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.link {
	margin-left: 10px;
	cursor: pointer;
}

.linkBtn {
	background-color: #FF8282;
	padding: 5px 10px;
	border-radius: 10px;
}